<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/js/kindeditor-4.1.10/themes/default/default.css}" type="text/css" rel="stylesheet"/>
<script type="text/javascript" charset="utf-8" th:src="@{/js/kindeditor-4.1.10/kindeditor-all-min.js}"></script>
<script type="text/javascript" charset="utf-8" th:src="@{/js/kindeditor-4.1.10/lang/zh_CN.js}"></script>
<div style="padding:10px 10px 10px 10px">
    <form id="itemAddForm" class="itemForm" method="post">
        <table cellpadding="5">

            <tr>
                <td>用户名:</td>
                <td><input class="easyui-textbox" type="text" name="username" data-options="required:true" style="width: 280px;"></input></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input class="easyui-textbox" name="password" type="password" data-options="required:true" style="width: 280px;"></input></td>
            </tr>
            <tr>
                <td>学校:</td>
                <td><input class="easyui-textbox" type="text" name="school" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td>性别:</td>
                <td><input class="easyui-textbox" type="text" name="sex" data-options="required:true" /></td>
            </tr>
            <tr>
                <td>昵称:</td>
                <td>
                    <input class="easyui-textbox" type="text" name="nick" data-options="required:true" />
                </td>
            </tr>
            <tr>
                <td>头像:</td>
                <td>
                    <a href="javascript:void(0)" class="easyui-linkbutton picFileUpload">上传图片</a>
                    <input type="hidden" name="image"/>
                </td>
            </tr>

        </table>
    </form>
    <div style="padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>
    </div>
</div>
<script th:inline="JavaScript">

    <![CDATA[

    var itemAddEditor ;
    //页面初始化完毕后执行此方法
    $(function(){
        //创建富文本编辑器
        //itemAddEditor = TAOTAO.createEditor("#itemAddForm [name=desc]");
        itemAddEditor = KindEditor.create("#itemAddForm [name=desc]", TT.kingEditorParams);
        //初始化类目选择和图片上传器
        TAOTAO.init({fun:function(node){
            //根据商品的分类id取商品 的规格模板，生成规格信息。第四天内容。
            TAOTAO.changeItemParam(node, "itemAddForm");
        }});
    });
    //提交表单
    function submitForm(){
        //有效性验证
        if(!$('#itemAddForm').form('validate')){
            $.messager.alert('提示','表单还未填写完成!');
            return ;
        }

        console.log($('#itemAddForm').serialize());
        //ajax的post方式提交表单
        //$("#itemAddForm").serialize()将表单序列号为key-value形式的字符串
        $.post("/user/save",$('#itemAddForm').serialize(), function(data){
            console.log($('#itemAddForm').serialize());
            if(data.status == 200){
                $.messager.alert('提示','新增商品成功!');
            }
        });
    }

    function clearForm(){
        $('#itemAddForm').form('reset');
        itemAddEditor.html('');
    }

    ]]>

</script>
</html>